
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
 
  }
  .header_buttons{
    color:white;
    background-color: #333;
    border-radius: 7px;
    border-color: aliceblue;
    border:#333;
    width: 100px;
    font-weight: bold;
    height:25px;
    margin-top:15px;
  }
  .header_buttons:hover{
    background-color: #fff;
    color: #333;
    cursor:pointer;
    transform: scale(1.05);
  }
  #home{
    background-color: #fff;
    color: #333;
  }
  header h1 {
    margin: 0;
  }
  
  .main-content {
    padding: 20px;
    color:white;
    background-color: black;
    text-align: center;
  }
  hr{
    width:50%;
  }
  label{
    font-weight: bold;
  }
  footer{
    background-color: #333;
    text-align: center;
    color:aliceblue;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  #in{
    padding-top: 10px;
  }
  #fb{
    padding-bottom: 3px;
    padding-left: 5px;
  }
  